ng-template(#duplicatesPopover)
	div(*ngFor="let e of duplicateEntries")
		| {{e}}

.d-block.d-sm-flex.justify-content-between.align-items-center
	.form-inline
		input.form-control.form-control-sm.admin-search-inline.d-none.d-sm-inline-block(
			type="search" placeholder="search" [(ngModel)]="search" disabled)

		button.btn.btn-sm.ml-1((click)="toggleNotifications()" [btnHighlight]="notifications" title="Toggle notifications")
			fa-icon([icon]="bellIcon" size="lg")
		button.btn.btn-sm.btn-default.ml-1((click)="cleanupDeleted()" title="Cleanup deleted events")
			fa-icon.mr-1([icon]="syncIcon" size="lg")
			| clear
		button.btn.btn-sm.btn-default.ml-1((click)="removeEvents(1000 * 60 * 10)" title="Delete all older than 10 minutes")
			fa-icon.mr-1([icon]="clockIcon" size="lg")
			| 10min
		button.btn.btn-sm.btn-default.ml-1((click)="removeEvents(1000 * 3)" title="Delete all events")
			fa-icon.mr-1([icon]="trashIcon" size="lg")
			| all
		button.btn.btn-sm.btn-default.ml-1((click)="showChat()" title="Show chatlog")
			fa-icon.mr-1([icon]="commentsIcon" size="lg")

		.btn-group.ml-1
			button.btn.btn-sm.btn-danger(
				*ngIf="duplicateEntries?.length" [popover]="duplicatesPopover" placement="bottom" containerClass="popover-wide")
				| duplicates ({{duplicateEntries.length}})
			button.btn.btn-sm.btn-danger((click)="refreshDuplicates()" title="Refresh duplicates")
				fa-icon([icon]="syncIcon" size="lg")

		span.text-muted.d-none.d-sm-inline
			span.ml-3(title="Used disk space" [class.text-danger]="isLowDiskSpace")
				fa-icon.mr-2([icon]="hddIcon")
				| {{status.diskSpace}}
			span.ml-3(title="Memory usage" [class.text-danger]="isLowMemory")
				fa-icon.mr-2([icon]="ramIcon")
				| {{status.memoryUsage}}
			span.ml-3(title="Certificate expires in" [class.text-danger]="isOldCertificate")
				fa-icon.mr-2([icon]="certificateIcon")
				from-now([time]="status.certificateExpiration")
			span.ml-3(title="Last Patreon update" [class.text-danger]="isOldPatreon")
				fa-icon.mr-2([icon]="patreonIcon")
				from-now([time]="status.lastPatreonUpdate")

	pagination(
		[totalItems]="filtered.length" [itemsPerPage]="itemsPerPage" [maxSize]="15" [(ngModel)]="currentPage"
		[directionLinks]="false")

events-table(
	[events]="filteredOnPage" (showChat)="showChat($event)" (addChat)="addChat($event)"
	(removedEvent)="removedEvent($event)")

admin-chat-log(#chatLog)

.admin-bottom-padding
