doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="description" content=description)

		if noindex
			meta(name="robots" content="noindex, nofollow")

		base(href=base)
		title=title
		style!=inlineStyle
		
		link(rel="stylesheet" href=style)

		//- open graph
		meta(property="og:title" content=title)
		meta(property="og:site_name" content=title)
		meta(property="og:type" content="website")
		meta(property="og:url" content=host.replace(/\/$/, ''))
		meta(property="og:description" content=description)
		meta(property="og:image" content=logo)
		if facebookAppId
			meta(property="fb:app_id" content=facebookAppId)

		//- twitter card
		if twitterLink
			meta(name="twitter:card" content="summary")
			meta(name="twitter:site" content=twitterLink.replace('https://twitter.com/', '@'))
			meta(name="twitter:title" content=title)
			meta(name="twitter:description" content=description)
			meta(name="twitter:image" content=logo)

		//- favicons
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png")
		link(rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png")
		link(rel="manifest" href="/manifest.json?v2")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#d1a73c")

		//- other
		meta(name="theme-color" content="#e6c966")
		meta(name="apple-mobile-web-app-capable" content="yes")

	body(
		data-key="kmncxb908z"
		data-version=version
		data-supporter-link=supporterLink
		data-twitter-link=twitterLink
		data-email=email
		data-copyright=title
		data-host=host
		data-local=local
		data-public=isPublic
		data-sw=sw
		data-token=token
		data-wasm=wasm)
		pony-town-app
			#loading
				img(src=loadingImage alt="")
				div Loading
				p.loading-error
					| Could not load the game, #[a.loading-error-btn(href="/reset.html") reload] to continue.

		if oauthProviders
			script#oauth-providers(type="application/json")!=JSON.stringify(oauthProviders)

		if socketOptions
			script#socket-options(type="text/plain")!=socketOptions

		if production
			script(src=script async)
		else
			script(src="http://localhost:8091/assets/scripts/vendor.js")
			script(src="http://localhost:8091" + script.replace('/adm/', '/'))
