ng-template(#notePopover)
	textarea.form-control.pony-mod-note-editor(
		cols="20" rows="8" agAutoFocus [(ngModel)]="note" (keydown.escape)="blur()" (blur)="blur()")

ng-template(#tooltip)
	.text-left.text-pre
		div(*ngIf="hasCounters")
			span.text-muted spam:
			span.ml-1 {{counters?.spam || 0}}
			span.text-muted.ml-1 swearing:
			span.ml-1 {{counters?.swears || 0}}
			span.text-muted.ml-1 timeouts:
			span.ml-1 {{counters?.timeouts || 0}}
		div {{note}}

.btn-group.btn-group-xs.btn-group-shadow(*ngIf="check?.hgf?.bvc?.wer?.ngf")
	//- button.btn.btn-xs.btn-default((click)="report()" tooltip="Report")
		fa-icon([icon]="flagIcon")

	.btn-group.dropdown(dropdown)
		button.btn.btn-xs.btn-default(dropdownToggle)
			fa-icon([icon]="moreIcon")
		.dropdown-menu(*dropdownMenu)
			a.dropdown-item((click)="report()")
				fa-icon.mr-1([icon]="flagIcon" [fixedWidth]="true")
				| Report
			h6.dropdown-header Other options
			a.dropdown-item(*ngFor="let a of check.actions" (click)="modAction(a.action)")
				fa-icon.mr-1.text-danger([icon]="dangerIcon" [fixedWidth]="true")
				| {{a.name}}

	.btn-group(
		[tooltip]="isNoteOpen ? null : tooltip" [isDisabled]="!note && !hasCounters"
		placement="bottom" containerClass="tooltip-notes")
		button.btn.btn-xs(
			[popover]="notePopover"
			placement="bottom"
			[isOpen]="isNoteOpen"
			[btnHighlightDanger]="!!note"
			[class.pointer-none]="isNoteOpen"
			(onShown)="isNoteOpen = true"
			(onHidden)="blur()"
			container="body")
			fa-icon([icon]="noteIcon")

	.btn-group.dropdown(dropdown [tooltip]="muteTooltip")
		button.btn.btn-xs(dropdownToggle [ngClass]="className(mute)")
			fa-icon([icon]="muteIcon")
		.dropdown-menu.dropdown-menu-right(*dropdownMenu)
			a.dropdown-item((click)="setMute(0)")
				| clear #[b mute]
			a.dropdown-item((click)="setMute(-1)")
				| perma #[b mute]
			.dropdown-divider
			a.dropdown-item(*ngFor="let t of timeouts" (click)="setMute(t.value)")
				| {{t.label}}

	.btn-group.dropdown(dropdown [tooltip]="shadowTooltip")
		button.btn.btn-xs(dropdownToggle [ngClass]="className(shadow)")
			fa-icon([icon]="hideIcon")
		.dropdown-menu.dropdown-menu-right(*dropdownMenu)
			a.dropdown-item((click)="setShadow(0)")
				| clear #[b shadow]
			a.dropdown-item((click)="setShadow(-1)")
				| perma #[b shadow]
			.dropdown-divider
			a.dropdown-item(*ngFor="let t of timeouts" (click)="setShadow(t.value)")
				| {{t.label}}

.pony-mod-age([title]="ageTitle")
	| {{ageLabel}}

.pony-mod-account(*ngIf="account")
	| {{account}}
	span.text-smuted.ml-1 [{{country || '??'}}]
